@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: #E0E0E0;
  --primary: #E0E0E0;
  --secondary: #E0E0E0;
  --background-color: #121212;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", sans-serif;
}

body {
  padding: 16px;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-image: url('/static-portfolio/assets/img/Wallpaper_Hacker1.png');
  /* Replace with your image path */
  background-size: cover;
  /* Scales the image to cover the entire area */
  background-position: center center;
  /* Centers the image */
  background-repeat: no-repeat;
  /* Prevents the image from repeating */
  background-attachment: fixed;
  /* Makes the background fixed while scrolling (parallax effect). Use 'scroll' if you want it to scroll with content. */

  /* Fallback background color (from your variables) in case the image doesn't load or while it's loading */
  background-color: var(--background-color);

  /* Ensure text is readable over the background */
  color: var(--text-color);
  min-height: 100vh;
  /* Ensure body takes at least full viewport height */
  margin: 0;
  /* Reset default margin */
}

h1 {
  color: var(--primary);
  font-size: 32px;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  color: var(--primary);
}

h3 {
  margin-bottom: 10px;
}

a {
  color: var(--secondary);
}